.banner-container {
    position: relative;
  }
  
  .banner-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
  }
  
  .overlay-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 20%; /* Adjust this value based on your preference */
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
  }
  
  .graphic-container {
    display: flex;
    justify-content: left;
    padding: 2rem;
  }
  
  .graphic1-image {
    width: 500px;
    height: auto;
    display: inline-block;
    margin-top: 2rem;
    margin-left: 5rem;
  }
  
  .graphic-text{
    margin-left: 2rem;
    max-width: 60%;
  }